@using System.Collections.Generic
@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Voyage>


@{
    ViewBag.Title = "En voiture";
}

<h2>Bienvenue sur BlaaBlaaCar</h2>
