        <hr />
        <footer>
             <!--
             <p>&copy; 2017 - BlaBlaCar ISEN</p>
             -->
            <label>&copy; 2017 - </label>
            <label style="color:forestgreen">Bla</label><label style="color:blue">Bla</label><label style="color:red">Car</label>
            <label>ISEN</label>
            <!--
            <div class="col-md-6 text-right">
               //  await Html.PartialAsync("_SelectLanguagePartial")
            </div>
            -->

        </footer>